
h1 {
  color: Blue;
  text-align: center;
  font-size: 40pt;
  font-family: Verdana, Helvetica, sans-serif;
  padding-right: 170pt;
  padding-left: 170pt;
}

h3 {
  color: DarkBlue;
  text-align: center;
  font-size: 20pt;
  font-family: Verdana, Helvetica, sans-serif;
  padding-right: 170pt;
  padding-left: 170pt;
}

p {
  color: Black;
  text-align: left;
  font-size: 14pt;
  font-family: Verdana, Helvetica, sans-serif;
  padding-left: 170pt;
}

ul {
  position: fixed;
  left: 0px;
  top: 50px;
}

li {  
  text-decoration: none;
  list-style-type: none;
  padding: 15pt; 

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}